:root {
  --color-f5f5f5: #f5f5f5;
  --color-000000: #000000;
  --color-ffffff: #ffffff;
  --color-CFCFCF: #cfcfcf;
  --transition-03: 0.2s;
  
}

$grey:rgba(178, 178, 178, 1);
$step-card:rgba(246, 246, 246, 1);
$step-text:rgba(23, 24, 59, 1);
$step-black:rgba(0, 0, 0, 1);
$white:white;